/* library styles */
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    background-color: #fdebeb;
}
.header{
    margin: 40px;
}
#addNewBook{
    display: flex;
    flex-direction: column;
    width: 30vw;
    justify-content: center;
}
.checkbox{
    display: flex;
    flex-direction: row;
}

#allBooks{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 20px;
}

.books {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column-start: 1;
    grid-column-end: 5;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    color:#333333;
    font-size: 24px;
    background-color: #ddc4c4;
    border-radius: 20px;
    padding: 10px;
}

button{
    margin: 10px;
}

.title{
    font-weight: bold;
    font-size: 25px;
}

.author{
    font-style: italic;
    font-size: 22px;
}

.pagecount{
    color: #0f571e;
    font-size: 18px;
}

.checkread{
    font-size: 18px;
}

